body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 16px;
}

li{
    list-style: none;
}
nav > ul > li{
    display: inline-block;
    height: 100%;
    
}
nav > ul > li > a{
    color: ghostwhite;
    font-size: 2rem;
}

a{
    text-decoration: none;
}
.drink a{
    color: white;
    font-size: 2em;
}
.drink a:hover{
    color: rgb(0, 0, 0)
}


header{
    width: 100%;
    height: 5rem;
    background-color: black;
    color: ghostwhite;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    align-items: center;
   
}
nav{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*This is the right side of the top of the screen*/
}
nav > ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
main{
    margin-top: 6rem;
}

/*This is the container for all of the drinks*/
#drinks{
    justify-content: space-evenly;
    display: flex;
    width: 100%;
    height: calc(100%);
    flex-direction: row;
    flex-wrap: wrap;
}

.drink{
    width: 30%;
    height: 30vh; /* You must set a specified height */
    margin: 1em;
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    border-radius: 0.5em;
    
}
#contact{
    width: 100%;
    height: 100vh;
    text-align: center;
}
#contact h1{
    font-size: 4em;
    padding-top: 5rem;
    
}
#contact_flex{
    display: flex;
    justify-content: space-evenly;
}
.social{
    width: 25%;
    height: 20em;
    background-color: white;
}

/* media queries*/

@media (max-width: 59.375rem){
    .drink{
        width: 45%;
    }

}
@media (max-width: 40.625rem){
    #drinks .drink{
        width: 90%;
        height: 20em;
    }
    nav > ul > li > a{
        color: ghostwhite;
        font-size: 1rem;
    }
    
   
}
@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }


/* Below this is the img background for the .drink */

.drink.pina-colada{
        background-image: url(../img/pina-colada3.jpeg); /* The image used */
}

.drink.sloe{
    background-image: url(../img/sloe2.jpeg); /* The image used */
  
}
.drink.a_sour{
    background-image: url(../img/sour2.jpeg); /* The image used */ 
}
.drink.maria{
    background-image: url(../img/maria.jpeg); /* The image used */

}
.drink.n_sour{
    background-image: url(../img/n_sour.webp); /* The image used */
}
.drink.w_gold{
    background-image: url(../img/w_gold.jpeg); /* The image used */
}
.drink.i_buck{
    background-image: url(../img/i_buck.jpeg); /* The image used */
}
.drink.c_moj{
    background-image: url(../img/c_moj.jpeg); /* The image used */
}
.drink.w_moj{
    background-image: url(../img/w_moj.jpeg); /* The image used */
}

/* Above this is the img background for the .drink */








